<div id="external-resources" class="page padding">
  <h4>External resources</h4>
  {% if links is defined %}
    {% for category in links %}
    <h5>{{ category }}</h6>
      <div class="grid">
        {% for entry in links[category] %}
          <div class="s12 m6 l3">
            <a href={{ entry.url }} target="_blank">
              <article class="no-padding">
                <div class="padding">
                  <h6>{{ entry.name | upper}}</h6>
                  <p>{{ entry.description }}</p>
                </div>
              </article>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
  Please specify a variant to discover links to external resources.
  {% endif %}
</div>
